@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 36px;
  margin: 50px 0px 10px 0px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.mortgage-calculator {
  background-color: #DDD;
  border-radius: 10px;
  width: 90%;
  padding: 20px 15px;
  margin: auto;
}

form p {
  margin: 0px 0px 10px 5px;
  text-transform: uppercase;
}

input {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 25px;
}

button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #AAA;
  width: 60%;
}